$mainfont: 'sans-serif', 'verdana';
$titleColour: #ffffff;
$navcolour: #ffffff;
$section1: rgb(46, 157, 237);
$section2: rgba(42, 41, 41, 0.09);
$padding: 20px;

/* Body of the document */
body {
    margin: 0;
    padding: 0;
}

/* navigation for mobile devices*/
nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    .nav ul {
        list-style: none;
    }

    .nav li {
        display: block;
        text-decoration: underline;
    }

    .nav a {
        display: block;
        text-decoration: none;
        padding: 10px;
        color: #ffffff;
        font-weight: bold;
    }

    .nav a:hover {
        border: 1px solid #ffffff;
    }
}

/* this is the section at the top of the homepage */
.section1 {
    background-color: rgb(46, 157, 237);
    height: 500px;
    /* Introduction text about who I am */
    .introduction {
        color: #ffffff;
        text-align: center;
        position: absolute;
        top: 400px;
    }
}

/* main heading for landing page */
.maintitle {
    font-family: $mainfont;
    color: $titleColour;
    text-align: center;
    top: 180px;
    position: absolute;
}

/* sub-heading for this page */
.sectionTitle {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 20px;

    .bold {
        color: rgb(46, 157, 237);
    }
}

/* shows the projects that have been completed */
.sectionProjects {
    padding-top: 50px;
    /* The Hut Group project */
    .project1 {
        padding-top: 50px;
        margin-right: 50px;
        border: 5px solid rgba(216, 217, 222, 0.88);
    }
    /* Cleversteam project*/
    .project2 {
        border: 5px solid rgb(46, 157, 237);
        width: auto;
    }
    /* Final Year project */
    .project3 {
        margin-left: 50px;
        border: 5px solid rgba(216, 217, 222, 0.88);
    }
}

/* the footer which has the form in */
footer {
    background-color: rgba(216, 217, 222, 0.88);
}

/* this is a contact form*/
form {
    margin-top: 20px;
    display: block;

    .formheading {
        text-align: center;
        font-family: $mainfont;
        color: $section1;
    }
}

/* Copyright section at the bottom of the page */
.copyright {
    text-align: center;
    font-family: $mainfont;
    font-style: italic;
}
