$mainfont: 'sans-serif', 'verdana';
$titleColour: #ffffff;
$navcolour: #ffffff;
$section1: rgb(46, 157, 237);
$section2: rgba(42, 41, 41, 0.09);
$padding: 20px;

body {
    margin: 0;
    padding: 0;
}

nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;

    .nav ul {
        list-style: none;
    }

    .nav li {
        display: inline;
    }

    .nav a {
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        color: $navcolour;
        font-weight: bold;
    }
}

.maintitle {
    font-family: $mainfont;
    color: $titleColour;
    text-align: center;
    padding-top: 100px;
}

.section1 {
    background-color: $section1;
    height: 500px;

    .introduction {
        color: $titleColour;
        text-align: center;
        padding-top: 60px;
    }
}

.basics {
    color: $titleColour;
    text-align: center;
}

.section3 {
    padding-top: $padding;

    .heading3 {
        font-weight: bold;
    }
}
