/* wont show the following elements between 0-750px screen size */
@media (max-width: 750px) {
  .student {
    display: none;
  }
  .name {
    display: none;
  }
}
/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 550px) {
    nav {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;

        .nav ul {
            list-style: none;
        }

        .nav li {
            display: inline;
        }

        .nav a {
            display: inline-block;
            text-decoration: none;
            padding: 10px;
            color: #ffffff;
            font-weight: bold;
            font-family: 'Patua One', 'sans-serif';
        }
    }

    .maintitle {
        font-family: 'Patua One', 'sans-serif';
        color: #ffffff;
        text-align: center;
        padding-top: 10px;
        font-size: 40px;
    }

    .maintitle2 {
      font-family: 'Patua One', 'sans-serif';
      color: #ffffff;
      text-align: center;
      padding-top: 10px;
      font-size: 40px;
      left:250px;
    }

    .introduction {
        color: #ffffff;
        text-align: center;
        padding-top: -10px;
        margin-bottom: 20px;
        position: absolute;
        font-size: 20px;
      font-family: 'Patua One', 'sans-serif';
    }

    .basics {
        color: #ffffff;
        text-align: center;
        padding-top: 110px;
        font-size: 20px;
        top: 175px;
        position: absolute;
        font-family: 'Patua One', 'sans-serif';
    }
    .sectionTitle {
      font-family: 'Patua One', 'sans-serif';
    }

}
/* Larger than tablet */
@media (min-width: 750px) {
    .name {
        color: #ffffff;
        font-weight: bold;
        text-align: left;
        position: absolute;
        top: 10px;
    }

    .student {
        color: #ffffff;
        text-align: left;
        position: absolute;
        font-size: 15px;
        top: 30px;
        left: -70px;
    }

    .maintitle {
        font-family: 'Patua One', 'sans-serif';
        color: #ffffff;
        text-align: center;
        padding-top: 10px;
        font-size: 55px;
    }

    .maintitle2 {
      font-family: 'Patua One', 'sans-serif';
      color: #ffffff;
      text-align: center;
      padding-top: 10px;
      font-size: 60px;
      left:350px;
    }

    /* main title for the contact page */
    .maintitle3 {
        font-family: 'Patua One', 'sans-serif';
        color: #ffffff;
        text-align: center;
        left: 320px;
        top: 180px;
        position: absolute;
    }

    .maintitle4 {
      font-family: 'Patua One', 'sans-serif';
      color: #ffffff;
      text-align: center;
      left: 370px;
      top: 180px;
      position: absolute;
    }

    /* introduction about myself */
    .introduction {
        color: #ffffff;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 20px;
        position: absolute;
        font-size: 20px;

    }

    .basics {
        color: #ffffff;
        text-align: center;
        padding-top: 110px;
        font-size: 20px;
        top: 160px;
        left: 200px;
        position: absolute;
    }

    .sectionTitle {
      font-family: 'Patua One', 'sans-serif';
    }

    /* List of the projects that have been completed */
    .sectionProjects {
        .photo-grid {
      	margin: 1em auto;
      	text-align: center;
        display: inline-block;
        width:100%;
      }

      .photo-grid li {
      	border: 5px solid white;
      	display: inline-block;
      	margin: 1em;
      }

      .photo-grid img {
      	display: inline;
      	height: auto;
        display: inline-block;
      }

      .photo-grid figure {
      	height: 163px;
      	overflow: hidden;
      	position: relative;
      }

      .photo-grid figcaption p {
        background: rgba(0,0,0,0.8);
      	display: table-cell;
      	font-size: 1.5em;
      	position: absolute;
      	top: -40px;
      	vertical-align: middle;
      }
    }
    /* the footer which has the form in */
    footer {
        background-color: rgba(216, 217, 222, 0.88);
        .copyright {
            text-align: center;
            font-family: 'Patua One', 'sans-serif';
            font-style: italic;
            color:rgb(46, 157, 237);
        }
        .social_icons {
            li {
            padding-top: 60px;
            display: inline-block;
            list-style-type: none;
            margin: 10px 80px;
            }
        }
    }
}
/* Larger than desktop */
@media (min-width: 1000px) {
    .maintitle {
        font-family: 'Patua One', 'sans-serif';
        color: #ffffff;
        text-align: center;
        padding-top: 10px;
        font-size: 60px;
        left: 130px;
        position: absolute;
          .developer {
            color: rgb(200, 200, 200);
          }
    }
    .student {
      display: none;
    }
    .name {
        color: #ffffff;
        font-weight: bold;
        text-align: left;
        position: absolute;
        top: 5px;
        font-family:  'Patua One', 'sans-serif';
    }

}
/* Larger than Desktop HD */
@media (min-width: 1200px) {}
